In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn import linear_model
from sklearn.metrics import mean_squared_error

In [2]:
covid_df=pd.read_csv("s3://covid-data-assignment-w06/owid-covid-data.csv")
print(covid_df.shape)

(50513, 41)

In [3]:
covid_df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,ABW,North America,Aruba,2020-03-13,2.0,2.0,NaN,NaN,0.0,NaN,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
1,ABW,North America,Aruba,2020-03-19,NaN,NaN,0.286,NaN,NaN,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
2,ABW,North America,Aruba,2020-03-20,4.0,2.0,0.286,NaN,0.0,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
3,ABW,North America,Aruba,2020-03-21,NaN,NaN,0.286,NaN,NaN,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
4,ABW,North America,Aruba,2020-03-22,NaN,NaN,0.286,NaN,NaN,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN

In [4]:
covid_df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'tests_per_case', 'positive_rate', 'tests_units', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')

In [5]:
imp_columns=['total_cases','new_cases','total_deaths','new_deaths',
        'new_tests', 'total_tests','new_tests_smoothed',
       'tests_per_case', 'positive_rate', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index']

In [6]:
covid_df=covid_df[imp_columns]
covid_df.head()

,total_cases,new_cases,total_deaths,new_deaths,new_tests,total_tests,new_tests_smoothed,tests_per_case,positive_rate,stringency_index,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,2.0,2.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.00,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.33,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
2,4.0,2.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,33.33,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.44,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.44,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN

In [7]:
covid_df.shape

(50513, 25)

In [8]:
covid_df=covid_df.dropna()
covid_df.shape

(3909, 25)

In [9]:
covid_df.head()

,total_cases,new_cases,total_deaths,new_deaths,new_tests,total_tests,new_tests_smoothed,tests_per_case,positive_rate,stringency_index,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
4414,24.0,7.0,2.0,2.0,56.0,620.0,47.0,15.667,0.064,81.48,...,3523.984,14.8,298.003,8.38,1.0,44.7,34.808,0.8,72.59,0.608
4415,27.0,3.0,3.0,1.0,92.0,712.0,53.0,15.458,0.065,81.48,...,3523.984,14.8,298.003,8.38,1.0,44.7,34.808,0.8,72.59,0.608
4416,33.0,6.0,3.0,0.0,82.0,794.0,59.0,14.750,0.068,81.48,...,3523.984,14.8,298.003,8.38,1.0,44.7,34.808,0.8,72.59,0.608
4417,39.0,6.0,4.0,1.0,126.0,920.0,70.0,15.806,0.063,82.41,...,3523.984,14.8,298.003,8.38,1.0,44.7,34.808,0.8,72.59,0.608
4418,39.0,0.0,5.0,1.0,106.0,1026.0,80.0,19.310,0.052,84.26,...,3523.984,14.8,298.003,8.38,1.0,44.7,34.808,0.8,72.59,0.608

In [10]:
Y = covid_df['new_cases']
X=covid_df.drop('new_cases', axis=1)

In [11]:
print(X.shape)

(3909, 24)

In [12]:
print(Y.shape)

(3909,)

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.15, random_state=42)

In [14]:
X_train = preprocessing.scale(X_train)

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/preprocessing/_data.py:173: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "

In [15]:
model= linear_model.Lasso(max_iter = 10000,alpha=0.1)
model.fit(X_train,y_train)

Lasso(alpha=0.1, copy_X=True, fit_intercept=True, max_iter=10000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [16]:
X_test = preprocessing.scale(X_test)
y_predict=model.predict(X_test)

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/preprocessing/_data.py:173: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "

In [17]:
print(mean_squared_error(y_test, y_predict))

2464496.353996479